@use '../global/variables' as *;

.connectContainer {
	background: $background;
	color: $text;
	text-align: center;
	padding: 0 10%;

	height: 90vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	background-image: url('https://www.helium.com/static/images/new/longfilarge.png');
	background-size: 40% 40%;
	background-repeat: no-repeat;
	background-position: 75% 75%;
}

.heading {
	color: $text;
	font-size: 1.5em;
}

.subHeading {
	color: $secondary;
	margin-bottom: 20px;
}

.stepsList {
	margin-top: 20px;
	text-align: left;
}

.step {
	color: $text;
	font-size: 0.8em;
}

.providers {
	color: $secondary;
	margin-top: 20px;
}

.providersList {
	list-style: none;
	text-align: left;
	padding-left: 0;
	margin-top: 10px;
}

.provider {
	color: $light-gray;
	font-size: 0.8em;
	margin-bottom: 10px;
	width: 100%;
}

.provider a {
	color: $text;
	width: 100%;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.backButton {
	background: $tertiary;
	color: $text;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 0.8em;

	width: 30%;
	margin-top: 20px;
	cursor: pointer;
	&:hover {
		background: darken($tertiary, 10%);
	}
}
